<div class="current-weather">
    <div class="curredt-data" style="margin: 1rem">
        <div class="mb-3" style="font-size: 1.5rem">Report severe weather:</div>
        <div class="input-group input-group-sm mb-3">
            <select class="form-control form-control-sm" (ngModel)="selectedWeatherAlertType"> >
                <option *ngFor="let opt of weatherAlertTypes" [value]="opt.weatherAlertTypeId">
                    {{opt.weatherAlertTypeName}}</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="selectedWeatherAlert.city">
        </div>
        <p style="color:red">TODO: dodati ostala polja za prijavu ekstremnih vremenskih prilika te spremiti podatke na server
        </p>
        <button type="button" class="btn btn-outline-danger" (click)="submit()">Report</button>
    </div>
</div>