<div class="form-group" style="margin: 2%;">
    <label for="city-name">Pretraga po gradu: </label>
    <br>
    <input type="text" id="city-name" placeholder="Upišite naziv grada" required>
    <!-- TODO izmijeniti input tako da upisom teksta automatski izmijenjujemo name: string polje u .ts fileu -->
    <br>
    <button type="button" class="btn btn-secondary" style="margin-top: 0.5%;">Pretraga</button>
    <!-- TODO klikom na gumb trebala bi se pozivati metoda setValue() -->
</div>

<div class="weather-data" style="margin: 1%">
    <div class="card" style="width: fit-content; padding: 0%; margin: 1%; padding: 2%;">
        <div class="current-data" style="text-align: right; margin: 1%;">
            <!-- TODO ispisati naziv grada, današnji datum i trenutno vrijeme preuzeto sa response-a -->
        </div>
        <canvas id="tempChart" width="800" height="200"></canvas>
    </div>
    
    <div class="card-group" fxLayout="row" fxLayoutAlign="none" style="width: 350px; margin: 1%;">
        <div class="card"  
        style="width: fit-content; padding: 0%; margin: 1%; border-radius: 10%;">
        <!-- TODO Kreirati kartice prema zadanom templateu sa podacima prognoze za tri dana. Klikom na karticu poziva se renderLineChart() metoda sa podacima za taj dan  -->
            <div class="card-body">
                <!-- TODO Ispisati datum u dd.MM. formatu -->
                <h5 class="card-title" style="text-align: center;"></h5>
                <!-- TODO Ubaciti ikonu prognoze vremena -->
                <img src=''/>
                <br>
                <!-- U iduća dva span elementa ispisati minimalnu i maksimalnu temperaturu za određeni dan -->
                <span class="min-temp" style="float: left;">°</span>
                <span class="max-temp" style="float: right;">°</span>
            </div>
        </div>
    </div>
        

</div>