
.weather-data-container{
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  text-align: top;
  align-content: space-around;
  width: 100%;
}

.row {
  margin:1rem;
  display: table;
  width: 95%;
  table-layout: fixed;
  border-spacing: 10px;
}

.weather-text{
  font-weight: bold;
  font-size: 1.6rem;
}

.air-quality{
  display: flex;
  justify-content: space-around;
  margin:0.5rem;
  font-size:1rem;
  background-color: lightgrey;
  border-radius:0.5rem;
  width:40%
}

.air-text {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.air-title{
  font-size: 1.5rem;

}
.icon-s{
  width: 20px;
  height: 30px
}

.current-weather{
  display: flex;
  justify-content: space-around;
  margin:0.5rem;
  font-size:1rem;
  background-image:linear-gradient(#bb8cb8, #dec5dc);
  border-radius:0.5rem;
  width:70%
}

.sunrise{
  width:30%;
  border-radius:0.5rem;
  background-color:lightgrey;
  margin:0.5rem;
}

.curredt-data{
  width:70%;
}

.current-icon{
  width:10%;
}
