
.air-quality{
    width: 60%;
    margin:2rem;
    padding: 2rem;
    font-size:1rem;
    background-color: #32c8c9;
    border-radius: 10px;
  }
  
  .air-text {
    padding-bottom: 0.5rem;
    color: white;
    font-size: 1.2rem;
  }
  
  .air-title{
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
  }

  .btn-text{
      color: white;
      font-weight: bold;
  }

  .icon-s{
    width: 20px;
    height: 30px
  }