<div class="back-col">
    <div class="weather-header">
      <p class="app-title">THE WEATHER APP</p>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Current weather</a>
            <a class="nav-item nav-link" routerLink="/daily-forecast">Daily forecast</a>
            <a class="nav-item nav-link" routerLink="/alerts">Weather alerts</a>
            <a class="nav-item nav-link" routerLink="/report">Report severe weather</a>
          </div>
        </div>
      </nav>
      
    <router-outlet></router-outlet>
</div>

