<div class="row">
    <div class="style">Map of severe weather alerts reported by users</div>
    <div id="weather_map"></div>
</div>

<div id="popup" class="ol-popup">
    <div *ngIf="weatherAlert">
        <h4>{{weatherAlertType.weatherAlertTypeName}}</h4>
        <p>Opis: {{weatherAlert.description}}</p>
        <br>
        <p style="color:red">TODO: dohvatiti sve prijavljene ekstremne vremenske prilike</p>
        <p style="color:red">TODO: prikazati sve podatke za odabranu ekstremnu vremensku priliku</p>
    </div>
</div>